body {
    background-color: rgba(28,28,28, 1);
    border: 1px solid rgb(255, 205, 238, 0.6);
    
    /* border-left: 1px solid rgb(255, 205, 238, 0.6);
    border-top: 1px solid rgb(255, 205, 238, 0.6);
    border-bottom: 1px solid rgb(255, 205, 238, 0.6); */

}



#app {
    
    display: grid;
    
    grid-template-columns: minmax(100px, 1fr) 1px 8fr;
    grid-template-rows: 18vh 1px 78vh; 
    
    overflow: auto;
}

/* #sceneWrapper {
    
    grid-row-start: 3;
    grid-column: 1 / 4;

} */

#sceneCanvas {
    position: absolute;
}


#vDivider {

    grid-column-start: 2;   
    grid-row: 1/-1;
    height: 99%;
    margin: auto;
    border-right: 1px dotted grey; 
}


#hDivider {

    grid-row-start: 2;
    grid-column: 1/-1;
    width: 100%;
    margin: auto;
    border-bottom: 1px dotted grey; 
}


.trackRow {
    height: 20%;

}

#trackArea.svelte-1l0ythd{grid-row-start:3;grid-column:1 / 4;display:flex;flex-direction:column;margin:0.8em}#header.svelte-1o68e6l{grid-column-start:3;grid-row-start:1;grid-row-end:2}.trackRow.track.svelte-hhaqav{display:flex;border-bottom:1px solid rgba(249, 206, 201, 0.373);width:100%}#clip.svelte-3j2z2i{--translateX:0px;display:grid;box-shadow:0.06em 0.06em 0.2em 0.09em rgba(163, 142, 168, 0.46);height:89%;width:500px;margin-top:auto;margin-bottom:auto;transform:translateX(var(--translateX));background:rgba(177, 177, 177, 0.06)}#playhead.svelte-1h1o7jn{--playhead-height:0px;--playhead-pos:0px;position:absolute;left:var(--playhead-pos);border:1px solid rgba(212, 73, 243, 0.635);border-radius:10px;width:1px;height:var(--playhead-height);background-color:rgba(255, 255, 0, 0.286)

}.clip.svelte-rxnawj{--position:50px;--cursor:auto;--width:400px;display:grid;grid-template-rows:100%;box-shadow:0.06em 0.06em 0.2em 0.09em rgba(163, 142, 168, 0.46);height:89%;width:var(--width);margin-top:auto;margin-bottom:auto;transform:translateX(var(--position));background:rgba(177, 177, 177, 0.06);cursor:var(--cursor)}.mask.svelte-rxnawj{--opacity:0;--position:0px;--width:0px;width:var(--width);transform:translateX(var(--position));height:100%;grid-row-start:1;grid-column-start:1;background:rgba(209, 213, 255, var(--opacity))}